{block content}
    <h1 class="post-title">Upravit příspěvek: {$post['title']}</h1>
    <p class="post-category">Kategorie: {$post['category_name']}</p>
    
    {control postForm}
    
    <a n:href="default" class="post-button">Zpět na seznam</a>
{/block}
